.Chat-main
  .Chat-main__group-info
    .group-info__top-contents
      .group-info__group-name
        グループ名
      .group-info__member-name
        Member : メンバー名
    .group-info__bottom-contens
      =link_to("#", class: "group-info__edit-btn") do
        Edit
  .Chat-main__message-list
    .message-user-1
      .message-user-1__name
        ユーザー1
      .message-user-1__date
        2020/06/01(Wed) 10:00
    .message-1
      おはよう！
    .message-user-2
      .message-user-2__name
        ユーザー2
      .message-user-2__date
        2020/06/01(Wed) 10:00
    .message-2
      おはよう！
    .message-user-3
      .message-user-3__name
        ユーザー3
      .message-user-3__date
        2020/06/01(Wed) 10:00
    .message-3
      おはよう！
    .message-user-4
      .message-user-4__name
        ユーザー4
      .message-user-4__date
        2020/06/01(Wed) 10:00
    .message-4
      おはよう！
  %form.Chat-main__message-form
    .message-form__box
      %input.message-form__text{"placeholder": "type a message", type: "text"}
      %label{class: "input-box__image"}
        = icon('far fa-image fa-lg', 'input-box__icon')
        %input.input-box__file{type: "file", style: "display:none"}
    %input.message-form__send-btn{name: "commit", type: "submit", value: "Send"}