.Side-bar
  .Side-bar__header
    .side-box
      .side-box__user-name
        ユーザー名
      %ul.side-box__icons
        %li.side-box__icon--edit
          -# =link_to "#", class: "side-box__icon side-box__icon--edit" do
          =link_to "#" do
            = icon('fas fa-edit', class: "side-box__icon side-box__icon--edit")
        %li.side-box__icon--config
          -# =link_to "#"  class: "side-box__icon side-box__icon--config" do
          =link_to "#" do
            = icon('fas fa-cog', class: "side-box__icon side-box__icon--config")
  .Side-bar__group-list
    <サイドバーグループリスト>