.Side-bar
  .Side-bar__header
    .side-box
      .side-box__user-name
        ユーザー名
      %ul.side-box__icons
        %li.side-box__icon--edit
          -# =link_to "#", class: "side-box__icon side-box__icon--edit" do
          =link_to "#" do
            = icon('fas fa-edit', class: "side-box__icon side-box__icon--edit")
        %li.side-box__icon--config
          -# =link_to "#"  class: "side-box__icon side-box__icon--config" do
          =link_to "#" do
            = icon('fas fa-cog', class: "side-box__icon side-box__icon--config")
  .Side-bar__group-list
    .Side-bar__group-name-1
      グループ名-1
    .Side-bar__message-1
      まだメッセージはありません。
    .Side-bar__group-name-2
      グループ名-2
    .Side-bar__message-2
      まだメッセージはありません。
    .Side-bar__group-name-3
      グループ名-3
    .Side-bar__message-3
      まだメッセージはありません。
    .Side-bar__group-name-4
      グループ名-4
    .Side-bar__message-4
      まだメッセージはありません。