* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
}

.Side-bar {
  width: 300px;
  background-color: #253141;
  &__header {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    .side-box {
      height: 20px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      background-color: #253141;
      font-weight: bold;
      &__user-name {
        color: #ffffff;
        font-size: 16px;
      }
      &__icons {
        // width: 60px;
        display: flex;
        // justify-content: space-around;
        list-style: none;
        .fas {
          color: #ffffff;
          text-decoration: none;
        }
        .side-box__icon--edit {
          margin-right: 5px;
        }
      }
    }
  }
  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    color: #ffffff;
    // font-weight: bold;
    .Side-bar__group-name-1 {
      margin: 20px 20px 5px 20px;
      font-size: 15px;
    }
    .Side-bar__message-1 {
      margin: 0 20px 40px 20px;
      font-size: 11px;
    }
    .Side-bar__group-name-2 {
      margin: 20px 20px 5px 20px;
      font-size: 15px;
    }
    .Side-bar__message-2 {
      margin: 0 20px 40px 20px;
      font-size: 11px;
    }
    .Side-bar__group-name-3 {
      margin: 20px 20px 5px 20px;
      font-size: 15px;
    }
    .Side-bar__message-3 {
      margin: 0 20px 40px 20px;
      font-size: 11px;
    }
    .Side-bar__group-name-4 {
      margin: 20px 20px 5px 20px;
      font-size: 15px;
    }
    .Side-bar__message-4 {
      margin: 0 20px 40px 20px;
      font-size: 11px;
    }
  }
}

.Chat-main {
  width: 100vw;
  &__group-info {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    .group-info__top-contents {
      .group-info__group-name {
        margin: 35px 0 15px 40px;
        font-size: 20px;
        color: #333333;
      }
      .group-info__member-name {
        margin-left: 40px;
        font-size: 12px;
        color: #999999;
      }
    }
    .group-info__bottom-contens {
      display: flex;
      align-items: center;
      // margin-right: 40px;
      margin: 28px 40px 28px 0;
      padding: 0 20px;
      border: 1px solid #38aef0;
      .group-info__edit-btn {
        font-size: 16px;
        color: #38aef0;
        text-decoration: none;
      }
    }
  }
  &__message-list {
    height: calc(100% - 190px);
    background-color: #fafafa;
  }
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
  }
}