* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
}

.Side-bar {
  width: 300px;
    &__header {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #253141;
    .side-box {
      height: 20px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      &__user-name {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
      }
      &__icons {
        // width: 60px;
        display: flex;
        // justify-content: space-around;
        list-style: none;
        .fas {
          color: #ffffff;
          text-decoration: none;
        }
        .side-box__icon--edit {
          margin-right: 5px;
        }
      }
    }
  }
  &__group-list {
    height: calc(100% - 100px);
    padding: 20px 20px 0;
    background-color: #2f3e51;
    color: #ffffff;
    // font-weight: bold;
    .Side-bar__group-name-1 {
      margin-bottom: 5px;
      font-size: 15px;
    }
    .Side-bar__message-1 {
      margin-bottom: 40px;
      font-size: 11px;
    }
    .Side-bar__group-name-2 {
      margin-bottom: 5px;
      font-size: 15px;
    }
    .Side-bar__message-2 {
      margin-bottom: 40px;
      font-size: 11px;
    }
    .Side-bar__group-name-3 {
      margin-bottom: 5px;
      font-size: 15px;
    }
    .Side-bar__message-3 {
      margin-bottom: 40px;
      font-size: 11px;
    }
    .Side-bar__group-name-4 {
      margin-bottom: 5px;
      font-size: 15px;
    }
    .Side-bar__message-4 {
      margin-bottom: 40px;
      font-size: 11px;
    }
  }
}

.Chat-main {
  width: 100vw;
  background-color: pink;
  &__group-info {
    height: 100px;
    background-color: yellow;
    // background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    .group-info__top-contents {
      .group-info__group-name {
        margin: 35px 0 15px 40px;
        font-size: 20px;
        color: #333333;
      }
      .group-info__member-name {
        margin-left: 40px;
        font-size: 12px;
        color: #999999;
      }
    }
    .group-info__bottom-contens {
      width: 72px;
      height: 40px;
      display: flex;
      align-items: center;
      margin: 28px 40px 28px 0;
      padding: 0 20px;
      border: 1px solid #38aef0;
      .group-info__edit-btn {
        font-size: 16px;
        color: #38aef0;
        text-decoration: none;
      }
    }
  }
  &__message-list {
    height: calc(100vh - 190px);
    padding: 35px 40px 0;
    background-color: #fafafa;
    .message-user-1 {
      display: flex;
      margin-bottom: 12px;
      &__name {
        color: #333333;
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
      }
      &__date {
        color: #999999;
        font-size: 12px;
      }
    }
    .message-1 {
      font-size: 14px;
      color: #434a54;
      margin-bottom: 46px;
    }
    .message-user-2 {
      display: flex;
      margin-bottom: 12px;
      &__name {
        color: #333333;
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
      }
      &__date {
        color: #999999;
        font-size: 12px;
      }
    }
    .message-2 {
      font-size: 14px;
      color: #434a54;
      margin-bottom: 46px;
    }
    .message-user-3 {
      display: flex;
      margin-bottom: 12px;
      &__name {
        color: #333333;
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
      }
      &__date {
        color: #999999;
        font-size: 12px;
      }
    }
    .message-3 {
      font-size: 14px;
      color: #434a54;
      margin-bottom: 46px;
    }
    .message-user-4 {
      display: flex;
      margin-bottom: 12px;
      &__name {
        color: #333333;
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
      }
      &__date {
        color: #999999;
        font-size: 12px;
      }
    }
    .message-4 {
      font-size: 14px;
      color: #434a54;
      margin-bottom: 46px;
    }
  }
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;
    .message-form__box {
      display: flex;
      width: 100%;
      margin-left: 40px;
      padding: 10px 10px;
      border: none;
      background-color: #fafafa;
      .message-form__text {
        width: 100%;
        border-style: none;
        background-color: red;
      }
      .input-box__image {
        display: flex;
        align-items: center;
        background-color: yellow;
      }
    }
    .message-form__send-btn {
      margin: 0 40px 0 10px;
      padding: 10px 20px;
      border: 1px solid blue;
      border-radius: 5px;
      color: #ffffff;
      background-color: #38aef0;
    }
  }
}