* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
}

.side-bar {
  width: 300px;
  background-color: #253141;
}

.main-chat {
  width: 100vw;
  background-color: #ffffff;
}